@using Library_Web_App.Data.ViewModels.Book
@model List<BookIndexViewModel>

<h3>Liked Books (@Model.Count)</h3>
<label></label>

@if (Model.Count == 0)
{
	<div style="margin: auto; text-align: center; font-weight: bold;">
		<p style="padding: 5px;">Likes Not Found!</p>
	</div>
}
else
{
	<div style="width: 100%; font-size: 0;">
		@foreach (BookIndexViewModel book in Model)
		{
			<div style="border: 1px solid black; background-color: lightgray; padding: 10px; margin: 10px; border-radius: 10px; display: inline-block; width: 20%; font-size: 16px;">
				<h3 style="text-align: center;">@book.Title</h3>

				<p><b>Author:</b> @book.Author</p>
				<p><b>Genre:</b> @book.Genre</p>
				<p><b>Year of publication:</b> @book.YearOfPublication</p>
				<p><b>Pages:</b> @book.Pages</p>

				<div style="text-align: center;">
					<button>
						<a asp-controller="Book" asp-action="Info" asp-route-id="@book.Id">View</a>
					</button>

					<button>
						<a asp-controller="User" asp-action="Dislike" asp-route-id="@book.Id">Dislike</a>
					</button>

				@if (User.IsInRole("admin"))
				{
					<button>
						<a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">Edit</a>
					</button>

					<button>
						<a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">Delete</a>
					</button>
				}
				</div>
			</div>
		}
	</div>
}